@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* CUSTOM STYLES */ 

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
    font-family: monospace;
}
body, html {
    background-image: radial-gradient(ellipse farthest-corner at -40% 45%, rgb(59 59 59 / 85%), hsl(242deg 10.48% 30.78%), rgb(35 35 35 / 93%)), linear-gradient(97deg, rgb(64 73 193 / 90%) 0%, rgb(10 15 35 / 90%) 5%), url(/public/noise_lt.svg);
    color: #FFFFFF;
    font-family: monospace !important;
    margin: 0;
    min-height: 100vh;
}
h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}
h1, h2, h3, h4, h5, p, a, div, button, label, input {
    color: #FFFFFF;
    font-family: monospace !important;
}
h1, h2, h3, h4, h5, p, a, button, label, input {
    position: relative;
    z-index: 3;
}
a {
    text-decoration: none;
}
input {
    border: 1px solid #FFFFFF24;
    background: transparent;
    border-radius: 0;
}
.padding {
    padding: 20px 32px;
}
.form input, .race-form input, .race-form select {
    padding: 8px 12px;
    background: transparent;
    border: 1px solid #FFFFFF24;
    color: #FFFFFF;
    color-scheme: dark;
} 
input:focus, input:focus-visible, select:focus-visible {
    border: 1px solid #FFFFFF79;
    border-radius: 0;
    outline: none;
    background: #FFFFFF24;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav svg {
    fill: #FFFFFF;
    height: 16px;
    width: auto;
}
.logo {
    font-size: 24px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 180px;
}
.form-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.form form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 700px;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}
.form-row .form-group {
    width: 50%;
}
.form label, .race-form label {
    margin-bottom: 8px;
    font-size: 14px;
} 
.form-input span {
    padding: 8px 16px;
    border: 1px solid #FFFFFF24;
    background: #FFFFFF24;
}
.form__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background: transparent;
    border: 1px solid #FFFFFF24;
    width: 200px;
    min-height: 42px;
    cursor: pointer;
    transition: all 0.025s ease-in;
}
.form__btn:hover {
    border: 1px solid #FFFFFF79;
    border-radius: 0;
    outline: none;
    background: #FFFFFF24;
}
.form__submit {
    background: transparent;
    cursor: pointer;
    font-family: monospace;
}
    
p { 
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
h3 {
    font-size: 18px;
}
.audio {
    position: relative;
    top: 32px;
}
html {
    position: relative;
}
.intro-homescreen-wrapper {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /*background-color:#141414;*/
}
.intro-homescreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: blur(16px) grayscale(0.1);
}
.homescreen-leaderboard {
    padding: 20px 32px;
}
.intro-homescreen-bg {
    background: url('/cinematic.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
    filter: blur(6px);
}
.intro-text-content {
    max-width: 750px;
}
.intro-text-content h1 {
    margin-bottom: 8px;
}
.intro-text-content p {
    line-height: 1.25;
    text-align: center;
}
.intro-text-content__btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.intro-big-star {
    position: absolute;
    width: 550px;
    height: 550px;
    left: 34.5%;
    top: 50%;
    transform: rotate(11.592deg) translate(-50%, -50%);
    animation: bigstar 45s infinite;
    filter: blur(6px);
}
.intro-little-star {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 47.5%;
    top: 65%;
    scale: 0.93;
    transform: rotate(66.635deg) translate(-50%, -50%);
    animation: smallstar 48s infinite;
    filter: blur(6px);
}
@keyframes bigstar {
    0% {
        scale: 1;
        transform: rotate(11.592deg) translate(-50%, -50%);
    }
    25% {
        scale: 0.93;
        transform: rotate(13.592deg) translate(-50%, -50%);
    }
    50% {
        scale: 1.03;
        transform: rotate(10.592deg) translate(-50%, -50%);
    }
    75% {
        scale: 0.96;
        transform: rotate(12.592deg) translate(-50%, -50%);
    }
    100%{
        scale: 1;
        transform: rotate(11.592deg) translate(-50%, -50%);
    }
}
@keyframes smallstar {
    0% {
        scale: 0.93;
        transform: rotate(66.635deg) translate(-50%, -50%);
    }
    25% {
        scale: 1;
        transform: rotate(68.635deg) translate(-50%, -50%);
    }
    50% {
        scale: 0.98;
        transform: rotate(63.635deg) translate(-50%, -50%);
    }
    75% {
        scale: 1;
        transform: rotate(67.635deg) translate(-50%, -50%);
    }
    100%{
        scale: 0.93;
        transform: rotate(66.635deg) translate(-50%, -50%);
    }
}
.racers-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 16px;
}
.racers-header__standing, .racers-row__standing {
    width: 2%;
}
.racers-row__img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}
.racer:hover .racers-row__img {
    outline: 1px solid #fff;
}
.racers-header__alias, .racers-row__alias {
    width: 38%;
}
.racers-row__alias {
    font-size: 14px;
    font-weight: bold;
}
.racers-row__alias {
    display: flex;
    align-items: center;
    gap: 12px;
}
.racers-row__alias:hover {
    font-weight: bold;
}
.racers-header__score, .racers-header__elo, .racers-header__wins, .racers-header__competitions, .racers-header__avg-pos, .racers-row__score, .racers-row__elo, .racers-row__wins, .racers-row__competitions, .racers-row__avg-pos {
    width: 17%;
    text-align: center;
}
.racers-row__avg-pos {
    display: flex;
    align-items: center;
    justify-content: center;
}
.racers-row__avg-pos-text {
    padding: 8px 12px;
    background-color: #ffffff24;
    border: 1px solid rgba(255, 255, 255, 0.79);
    border-radius: 25px;
    width: 80px;
}
.racers {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.racer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    gap: 16px;
    border: 1px solid #FFFFFF24;
    background: #ffffff0d;
    transition: all 0.15s ease-in-out;
}
.racer:hover {
    border: 1px solid #ffffff7a;
    background: #ffffff1f;
}
.race-form form {
    flex-direction: column;
    gap: 40px;
    width: 100%;
}
.race-form {
    margin-top: 40px;
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
}
.form-row { 
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.form-group {
    width: 100%;
    max-width: 800px;
    margin-bottom: 40px;
}
.form__submit {
    margin: 0;
}
.form__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background: transparent;
    border: 1px solid #FFFFFF24;
    width: 200px;
    min-height: 42px;
    cursor: pointer;
    transition: all 0.025s ease-in;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
}
.form__btn:hover {
    border: 1px solid #FFFFFF79;
    border-radius: 0;
    outline: none;
    background: #FFFFFF24;
}
.intro-text-content {
    gap: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* HEADER STYLES */

header {
    padding: 0px 32px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.15s ease-in-out;
}
header.show {
    background-color: #101010;
}
nav a {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 0 16px;
    transition: all 0.15s ease-in-out;
    color: #ffffff;
}
nav .logo {
    padding: 0;
}
.nav__hover {
    padding: 24px 16px;
}
.nav__hover:hover {
    color: #ffffffc9;
}
.nav-right__search {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 16px;
}
nav img {
    position: relative;
}
.logo img {
    top: -4px;
}
.account {
    height: 40px;
    transition: all 0.15s ease-in-out;
}
.account:hover {
    opacity: 0.8;
}
.nav__right {
    display: flex;
    gap: 8px;
    font-size: 15.21px;
    font-weight: bold;
    letter-spacing: 0.02rem;
}
.nav__admin {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav__admin span {
    position: relative;
    pointer-events: none;
    padding: 0;
}
.nav__admin-sub-menu {
    visibility: hidden;
    opacity: 0;
    display: flex;
    position: absolute;
    top: 67px;
    left: 0;
    gap: 8px;
    height: fit-content;
    border-top: 1px solid #ffffff27;
    transition: all 0.15s ease-in-out;
}
.nav__admin:hover > .nav__admin-sub-menu, .nav__admin-sub-menu:hover {
    display: flex;
    visibility: visible;
    opacity: 1;
}
header.show .nav__admin-sub-menu {
    background-color: #101010;
    border: 0;
}
header .nav__admin-sub-menu .nav__hover {
    padding: 20px 16px;
    height: fit-content;
}

@media screen and (max-width: 900px){
    header, .search-wrapper, .search-wrapper-overlay, .intro-homescreen-wrapper, .padding, .form, .homescreen-leaderboard {
        display: none !important;
    }
    .small-device-modal {
        display: flex;
    }
}


/**** HISTORY STYLES ****/

.races-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.races {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 20px;
}
.race {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;
    border: 1px solid #FFFFFF24;
    background: #ffffff0d;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}
.race:hover {
    border: 1px solid #FFFFFF79;
    border-radius: 0;
    outline: none;
    background: #FFFFFF24;
}
.race-top, .race-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.race-top {
    justify-content: space-between;
}
.race-delete {
    fill:#FFF;
    height: 16px;
    border: 1px solid #FFFFFF24;
    padding: 6px;
    cursor: pointer;
    top: 16px;
    right: 16px;
}
.race-delete:hover {
    border: 1px solid #FFFFFF79;
    background: #FFFFFF24;
}
.race-delete svg {
    height: 100%;
    width: 100%;
}
ol {
    margin: 0;
}
li {
    padding: 4px;
}
.race-participants {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 150px;
    padding-inline-start: 40px;
    gap: 0 50px;
    list-style: all;
}
.race-participant {
    width: 120px;
}
.race-title .race-img {
    height: 14px;
}
.race-title {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
}
.accordion-arrow {
    position: relative;
    left: -10px;
}
.accordion-arrow.show {
    transform: rotate(180deg);
}
.accordion-arrow-left {
    position: absolute;
    height: 1px;
    width: 12px;
    left: -4.5px;
    transform: translate(-50%, -50%) rotate(42deg);
    background-color: #ffffff;
}
.accordion-arrow-right {
    position: absolute;
    height: 1px;
    width: 12px;
    left: 4.5px;
    transform: translate(-50%, -50%) rotate(-42deg);
    background-color: #ffffff;
}